

body{
    background-color: white;

}

.searchbar{
   margin-top: 10px;
   border-bottom: 2px solid whitesmoke;
   

}
.search{
    padding: 15px;
    font-size: 12px;
    width: 550px;
    margin-left: 15px;
    background-color: whitesmoke;
    border: 1px;
    border-radius: 10px solid whitesmoke;
    margin-bottom: 10px;
}

.imgspan{
    display: block;
    /* margin-top:10px;
    margin-left: 15px; */
}

 .menukonga{
    display: flex;
    align-items: baseline;
    
   
}
.homecart{
    display: flex;
    align-items: baseline;
    
} 


.menuwrapper{
    display: flex;
    flex-direction: row;
    background-color: rgba(247, 247, 242, 0.897);
    justify-content: flex;
    padding: 10px;
    width: 550px;
    justify-content: space-around;
}

.maindiv{
    width: 100%;
    background-color: white;
    max-width: 1300px;
}

 .menudisplay{
    width: 500px;
    display:flex ;
    justify-content: space-between;
    align-items: baseline;     
} 

.shopnow img{
    width: 225px;
    height: 225px;
}

.shopnow{
    display: grid;
    grid-template-columns: 225px 225px;
    grid-template-rows: 225px 225px;
    gap: 15px;
    margin-top: 15px;
background-color: whitesmoke;    
}
.scrollbar{
    width: 550px;
    height: 300px;
    background-color: blueviolet;
    display: flex;
    
}

.menudisplay.home, .menudisplay.cart{
    justify-content: flex-end;
}

.fashion{
    text-decoration: none;
    color: #c2bcbc;
    
    

}

.flashwrapper{
    background-color: whitesmoke;
}
#flashimg{
    position: relative;
    height: 240px;
    width: 600px;
    margin: 0 auto;
    
}
 
#flashimg img{
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  transition: ;

}



@keyframes flashexample{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}



#flashimg img.top{
    animation-name: flashexample;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.footerdiv1{
    background-color: gray;
    max-width: 550px;
    padding: 15px;
}

.text, .button{
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    
}
.text{
    margin-right: none;
}

.button{
    margin-left: none;
    background-color: rgb(231, 101, 173);
    color: white;
    }

.footerdiv1 a {
    text-decoration: none;
    color: rgb(175, 164, 164);
    display: block;
    font-size: 14px;
    
}
.footerdiv1 a:first-child{
    text-transform: lowercase;
}

.email{
    color: rgb(175, 164, 164);;
    text-transform: uppercase;
    font-size: 20px;

}

.email:hover{
    color: white;
}

.footerdiv1 a:hover{
    color: white;
}

.deallabel{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.footerdiv2{
    background-color: black;
    max-width: 550px;
    padding: 20px;
}

